<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card-container">
      <div class="project-card">
        <div class="card-project-preview"></div>
        <div class="card-project-content">
          <h4 class="card-project-title">Logiranje putem Google računa</h4>
          <p class="card-project-description">
            Da započnete logiranje kliknite dugme ispod
          </p>
          <a href="/google"
            ><button class="btn-google">Login with Google+</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
